@CHARSET "UTF-8";

.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper {
	background-color: #88B8F7;
	text-align: center;
}

#networkstate {
	width: 100%;
	height: auto;
	margin-top: 5%;
	border-style: solid;
	border-width: 2px;
}

#realdata {
	width: 100%;
	height: auto;
	margin-top: 5%;
	border-style: solid;
	border-width: 2px;
}

table {
	margin: auto;
	padding: 0.5%;
	width: 100%;
	text-align: center;
	/*字体：华文楷体*/
	font-family: STKaiti;
	font-weight: bold;
}

td,th {
	text-align: center;
	
}